<h1>VYHRÁL HRÁČ {{ win != 5 ? (win == 0 ? +(+win) : win) : playerWin }}</h1>
<h2>Výherní karty</h2>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div *ngFor="let card of playerArray[win != 5 ? win : playerWin]">
    <img
      class="img"
      src="../../assets/imgs/{{ card.name }}{{ card.player }}.png"
    />
  </div>
</div>
<h2>Karty ostatních hráců</h2>

<div fxLayout="column" fxLayoutGap="2vw">
  <div *ngFor="let player of playerArray | slice: 1:5; let i = index">
    <div *ngIf="win != 5 ? i != win - 1 : i != playerWin - 1">
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1%">
        <div *ngFor="let card of player">
          <img
            class="img"
            src="../../assets/imgs/{{ card.name }}{{ card.player }}.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
