<h1 class="title">SAFARI BAR</h1>

<h2>Jak se připojit</h2>

Do okýnka "ROOM ID" na úvodní stránce zadej vlastní název místnosti. Může to být
téměř cokoli co tě napadne. <br />
Zmáčkni na tlačítko start a vytvoří se místnost. <br />
Další hráči se připojí zadáním stejného názvu místnosti nebo se připojí přes
odkaz, který stránka vygeneruje. <br />

<h2>Pravidla</h2>

Každý hráč má na začátku 12 karet své barvy. <br />
Hráči se střídají v pokládání karet v takovém pořadí v jakém se připojili.
<br />
Když hráč položí kartu, tak karta provede schopnost a na tahu je další hráč.
<br /><br />

Když je v hracím poli 5 karet, tak proběhne vyhodnocení, první dvě karty v řadě
jdou do baru a poslední se vyhodí. <br />
Hra nemá animace karet, a proto je tu log (soubor historie), který obsahuje
historii veškerých akcí karet, <br />
je to tlačítko ve hře vlevo dole s obrázkem hodin. <br />

<h2>Konec hry</h2>

Hra končí ve chvíli, kdy poslední hráč položí svou poslední kartu. <br />
Vyhrává hráč, který má v baru nejvíce karet. <br />
Pokud má více hráčů stejný počet v baru, tak vyhrává ten, kdo má součet sil
karet menší. <br />
Pokud je to opět stejné vyhrává hráč, který měl v baru kartu první. <br />

<h2>Schopnosti karet</h2>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    Karty, které u sebe mají symbol spirály, tak schopnost těchto karet se
    provede po každém položení karty a provedení její<br />
    schopnosti. Když je v řadě více zvířat se symbolem spirály, tak opakující se
    schopnosti se provedou postupně od baru ke<br />
    konci řady. Příklad: V řadě je krokodýl, krokodýl sní všechna zvířata před
    sebou a má u sebe spirálu, takže jeho schopnost<br />
    se opakuje. Když do řady vstoupí klokan a přeskočí krokodýla, tak ho
    krokodýl ihned sní.
  </div>
  <div>
    <img class="img-show" src="../../assets/imgs/krokodyl1.png" />
  </div>
</div>
<hr />
<div fxLayout="column" fxLayoutGap="20px" class="test">
  <div *ngFor="let animal of rules">
    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="start center">
      <img src="../../assets/imgs/{{ animal.card }}.png" />
      <div class="animal-text">{{ animal.rules }}</div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="5px">
          <div *ngFor="let showCard of animal.show1">
            <img class="img-show" src="../../assets/imgs/{{ showCard }}.png" />
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
          <div *ngFor="let showCard of animal.show2">
            <img class="img-show" src="../../assets/imgs/{{ showCard }}.png" />
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
