.title {
  font-size: 100px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
}

.defaultText {
  font-size: 50px;
  font-weight: bold;
}

.input {
  background-color: white;
}

.loading {
  padding-top: 45vw;
  padding-left: 30vw;
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  z-index: 999;
  position: absolute;
  align-items: center;
}
