<head>
  <meta charset="utf-8" />
  <title>safari-bar</title>
  <!--<link rel="stylesheet" href="style.css" />-->
</head>
<body>
  <div id="start-menu" class="menu">
    <div class="title">Piškvorky</div>
    <div class="players">
      <form id="players">
        <div>
          Hráč 1
          <input id="player1" type="text" class="player-input player1" /><br />
          Hráč 2
          <input id="player2" type="text" class="player-input player2" /><br />
        </div>
      </form>

      <button (click)="start()" class="button-start" id="start-button">
        START
      </button>
    </div>
  </div>

  <div id="game-plan" class="hide plan">
    <button (click)="end()" class="button-start" id="start-button">START</button
    ><br />

    <input
      type="button"
      id="button-1"
      value="{{ hand1[0]?.name ? hand1[0].name : 'out' }}"
      [disabled]="hand1[0] == undefined"
    />
    <input
      type="button"
      id="button-2"
      value="{{ hand1[1]?.name ? hand1[1].name : 'out' }}"
      [disabled]="hand1[1] == undefined"
    />
    <input
      type="button"
      id="button-3"
      value="{{ hand1[2]?.name ? hand1[2].name : 'out' }}"
      [disabled]="hand1[2] == undefined"
    />
    <input
      type="button"
      id="button-4"
      value="{{ hand1[3]?.name ? hand1[3].name : 'out' }}"
      [disabled]="hand1[3] == undefined"
    /><br />

    <div class="game-plan">
      <div class="game-plan-div">
        <div id="div1" class="game-plan-div-card"></div>
      </div>
      <div class="game-plan-div">
        <div id="div2" class="game-plan-div-card"></div>
      </div>
      <div class="game-plan-div">
        <div id="div3" class="game-plan-div-card"></div>
      </div>
      <div class="game-plan-div">
        <div id="div4" class="game-plan-div-card"></div>
      </div>
      <div class="game-plan-div">
        <div id="div5" class="game-plan-div-card"></div>
      </div>
    </div>
  </div>

  <!--<script src="../functions/animals.ts"></script>
    <!--<script src="zvirata-hand.js"></script>-->
</body>
